<div class="card" [ngClass]="{'card-active' : post.active}">
    <!-- <div class="card-title">{{postProperties[this.activePostClicksCount %  4]}}</div> -->
    <!-- <div class="card-body"> -->
        @if (post.active) {
            @switch (postProperties[this.activePostClicksCount %  4]) {
                @case ('title') {
                    <div class="card-title">{{post.title}}</div>
                }
                @case ('id') {
                    {{post.id}}
                }
                @case ('userId') {
                    {{post.userId}}
                }
                @case ('body') {
                    "{{post.body}}"
                }
                @default {
                    {{post.title}}
                }
            }
        }
        @else {
            <div class="card-title">{{post.title}}</div>
        }
    <!-- </div> -->
</div>