<div class="posts-screen">
  <div class="header-block">
    @for (bounceAnimationDelay of bounceAnimationDelays; track bounceAnimationDelay) {
      <span [@bounce]="{value: '', params: { delay: bounceAnimationDelay+'s'}}" class="dot dot-palette-{{bounceAnimationDelay}}"></span>
    }
    <h1 class="header">Posts</h1>
    @for (bounceAnimationDelay of bounceAnimationDelays; track bounceAnimationDelay) {
      <span [@bounce]="{value: '', params: { delay: bounceAnimationDelay+'s'}}" class="dot dot-palette-{{bounceAnimationDelay}}"></span>
    }
  </div>
  @if (!(loading$ | async) && ! (error$ | async)) {
    <h2 class="header">Active Post ID: {{ activePost?.id }}</h2>
    <h3>Click on a post to view its details. Continue clicking to toggle through its detail views.</h3>
  }
  <div class="list-of-posts">
    @if (loading$ | async) {
      <h3>
        Loading ...
      </h3>
    }

    @for (post of posts$ | async; track post.id) {
      <app-card
        [post]="post"
        [activePostClicksCount]="activePostClicksCount"
        (click)="rotatePostProperties(post)"
      ></app-card>
    }
    @empty {
      <h3>There are currently no posts available.</h3>
    }

    @if (error$ | async; as error) {
      <h3 class="error">
        {{ error }}
      </h3>
    }
  </div>
</div>
